// Esta configuración está en formato KDL: https://kdl.dev
// "/-" comenta el siguiente nodo.
// Consulta la wiki para una descripción completa de la configuración:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Configuración de dispositivos de entrada.
// Encuentra la lista completa de opciones en la wiki:
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // Puedes configurar reglas, modelo, disposición, variante y opciones.
            // Para más información, consulta xkeyboard-config(7).

            // Por ejemplo:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // Si esta sección está vacía, niri obtendrá la configuración xkb
            // de org.freedesktop.locale1. Puedes controlarlas usando
            // localectl set-x11-keymap.
        }

        // Activa numlock al inicio, omitir esta opción lo desactiva.
        numlock
    }

    // Las siguientes secciones incluyen configuración de libinput.
    // Omitir opciones las desactiva o las deja en sus valores predeterminados.
    // Todas las opciones comentadas aquí son ejemplos, no valores predeterminados.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Descomenta esto para que el ratón se teletransporte al centro de las ventanas recién enfocadas.
    // warp-mouse-to-focus

    // Enfoca ventanas y salidas automáticamente al mover el ratón sobre ellas.
    // Configurar max-scroll-amount="0%" hace que solo funcione en ventanas ya completamente visibles.
    // focus-follows-mouse max-scroll-amount="0%"
}

// Puedes configurar las salidas por su nombre, que puedes encontrar
// ejecutando `niri msg outputs` dentro de una instancia de niri.
// El monitor integrado del portátil suele llamarse "eDP-1".
// Encuentra más información en la wiki:
// https://niri-wm.github.io/niri/Configuration:-Outputs
// ¡Recuerda descomentar el nodo eliminando "/-"!
/-output "eDP-1" {
    // Descomenta esta línea para desactivar esta salida.
    // off

    // Resolución y, opcionalmente, tasa de refresco de la salida.
    // El formato es "<ancho>x<alto>" o "<ancho>x<alto>@<tasa de refresco>".
    // Si se omite la tasa de refresco, niri elegirá la más alta
    // para la resolución.
    // Si el modo se omite por completo o no es válido, niri elegirá uno automáticamente.
    // Ejecuta `niri msg outputs` dentro de una instancia de niri para listar todas las salidas y sus modos.
    mode "1920x1080@120.030"

    // Puedes usar escala entera o fraccionaria, por ejemplo 1.5 para escala al 150%.
    scale 2

    // Transform permite rotar la salida en sentido antihorario, valores válidos:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Posición de la salida en el espacio de coordenadas global.
    // Esto afecta a acciones direccionales de monitor como "focus-monitor-left" y al movimiento del cursor.
    // El cursor solo puede moverse entre salidas directamente adyacentes.
    // La escala y rotación de la salida deben tenerse en cuenta para el posicionamiento:
    // las salidas se dimensionan en píxeles lógicos o escalados.
    // Por ejemplo, una salida de 3840×2160 con escala 2.0 tendrá un tamaño lógico de 1920×1080,
    // así que para colocar otra salida directamente adyacente a la derecha, establece su x a 1920.
    // Si la posición no se establece o resulta en un solapamiento, la salida se coloca
    // automáticamente.
    position x=1280 y=0
}

// Configuración que influye en cómo se posicionan y dimensionan las ventanas.
// Encuentra más información en la wiki:
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // Establece los márgenes alrededor de las ventanas en píxeles lógicos.
    gaps 12

    // Cuándo centrar una columna al cambiar el foco, las opciones son:
    // - "never", comportamiento predeterminado, enfocar una columna fuera de pantalla la mantendrá a la izquierda
    //   o en el borde derecho de la pantalla.
    // - "always", la columna enfocada siempre estará centrada.
    // - "on-overflow", enfocar una columna la centrará si no cabe
    //   junto con la columna previamente enfocada.
    center-focused-column "never"

    // Puedes personalizar los anchos entre los que alterna "switch-preset-column-width" (Mod+R).
    preset-column-widths {
        // Proportion establece el ancho como fracción del ancho de la salida, teniendo en cuenta los márgenes.
        // Por ejemplo, puedes ajustar perfectamente cuatro ventanas de tamaño "proportion 0.25" en una salida.
        // Los anchos predefinidos predeterminados son 1/3, 1/2 y 2/3 de la salida.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed establece el ancho exactamente en píxeles lógicos.
        // fixed 1920
    }

    // También puedes personalizar las alturas entre las que alterna "switch-preset-window-height" (Mod+Ctrl+Shift+R).
    // preset-window-heights { }

    // Puedes cambiar el ancho predeterminado de las nuevas ventanas.
    default-column-width { proportion 0.5; }
    // Si dejas las llaves vacías, las propias ventanas decidirán su ancho inicial.
    // default-column-width {}

    // Por defecto, el anillo de foco y el borde se renderizan como un rectángulo de fondo sólido
    // detrás de las ventanas. Es decir, se mostrarán a través de ventanas semitransparentes.
    // Esto se debe a que las ventanas con decoraciones del lado del cliente pueden tener una forma arbitraria.
    //
    // Si no te gusta, deberías descomentar `prefer-no-csd` más abajo.
    // Niri dibujará el anillo de foco y el borde *alrededor* de las ventanas que acepten omitir sus
    // decoraciones del lado del cliente.
    //
    // Alternativamente, puedes anularlo con una regla de ventana llamada
    // `draw-border-with-background`.

    // Puedes cambiar el aspecto del anillo de foco.
    focus-ring {
        // Descomenta esta línea para desactivar el anillo de foco.
        // off

        // Cuántos píxeles lógicos se extiende el anillo desde las ventanas.
        width 2

        // Los colores se pueden establecer de varias maneras:
        // - Colores con nombre CSS: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - Notación tipo CSS: "rgb(255, 127, 0)", rgba(), hsl() y algunas otras.

        // Color del anillo en el monitor activo.
        active-color "#2E639C"

        // Color del anillo en monitores inactivos.
        //
        // El anillo de foco solo se dibuja alrededor de la ventana activa, así que el único lugar
        // donde puedes ver su inactive-color "#2E639C"
        inactive-color "#2E639C"

        // También puedes usar degradados. Tienen prioridad sobre los colores sólidos.
        // Los degradados se renderizan igual que CSS linear-gradient(ángulo, desde, hasta).
        // El ángulo es el mismo que en linear-gradient, y es opcional,
        // predeterminado a 180 (degradado de arriba a abajo).
        // Puedes usar cualquier herramienta CSS linear-gradient en la web para configurarlos.
        // También se admite cambiar el espacio de color, consulta la wiki para más información.
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // También puedes colorear el degradado relativo a toda la vista
        // del espacio de trabajo, en lugar de relativo solo a la ventana.
        // Para hacerlo, establece relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // También puedes añadir un borde. Es similar al anillo de foco, pero siempre visible.
    border {
        // La configuración es la misma que para el anillo de foco.
        // Si activas el borde, probablemente quieras desactivar el anillo de foco.
        off

        width 1
        active-color "#2E639C"
        inactive-color "#2E639C"

        // Color del borde alrededor de ventanas que solicitan tu atención.
        urgent-color "#9b0000"

        // Los degradados pueden usar diferentes espacios de color de interpolación.
        // Por ejemplo, este es un degradado arcoíris pastel mediante in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // Puedes activar sombras para las ventanas.
    shadow {
        // Descomenta la siguiente línea para activar las sombras.
        // on

        // Por defecto, la sombra se dibuja solo alrededor de su ventana, y no detrás.
        // Descomenta esta opción para que la sombra se dibuje detrás de su ventana.
        //
        // Ten en cuenta que niri no tiene forma de conocer el radio de esquina
        // de las ventanas CSD. Tiene que asumir que las ventanas tienen esquinas cuadradas, lo que provoca
        // artefactos de sombra dentro de las esquinas redondeadas CSD. Esta opción corrige
        // esos artefactos.
        //
        // Sin embargo, en su lugar puede que quieras establecer prefer-no-csd y/o
        // geometry-corner-radius. Entonces, niri conocerá el radio de esquina y
        // dibujará la sombra correctamente, sin tener que dibujarla detrás de la
        // ventana. Esto también eliminará las sombras del lado del cliente si la ventana
        // dibuja alguna.
        //
        // draw-behind-window true

        // Puedes cambiar el aspecto de las sombras. Los valores siguientes están en píxeles
        // lógicos y coinciden con las propiedades CSS box-shadow.

        // Softness controla el radio de desenfoque de la sombra.
        softness 30

        // Spread expande la sombra.
        spread 5

        // Offset mueve la sombra relativa a la ventana.
        offset x=0 y=5

        // También puedes cambiar el color y la opacidad de la sombra.
        color "#0007"
    }

    // Los struts reducen el área ocupada por las ventanas, similar a los paneles layer-shell.
    // Puedes pensar en ellos como una especie de márgenes exteriores. Se establecen en píxeles lógicos.
    // Los struts izquierdo y derecho harán que la siguiente ventana al lado siempre sea visible.
    // Los struts superior e inferior simplemente añadirán márgenes exteriores además del área ocupada por
    // los paneles layer-shell y los márgenes regulares.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// Añade líneas como esta para iniciar procesos al arrancar.
// Ten en cuenta que ejecutar niri como sesión soporta xdg-desktop-autostart,
// que puede ser más conveniente de usar.
// Consulta la sección de binds más abajo para más ejemplos de spawn.

// Esta línea inicia waybar, una barra comúnmente usada para compositores Wayland.
spawn-at-startup "awww-daemon"
spawn-at-startup "quickshell"
spawn-sh-at-startup "sh $HOME/.config/quickshell/scripts/apply-wal-colors.sh"

// Para ejecutar un comando de shell (con variables, pipes, etc.), usa spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Descomenta esta línea para desactivar el pop-up "Important Hotkeys" al inicio.
    skip-at-startup
}

overview {
    backdrop-color "#09090c"
    zoom 0.70
}

cursor {
    xcursor-theme "macos-tahoe-cursor"
    xcursor-size 32
}

// Descomenta esta línea para pedir a los clientes que omitan sus decoraciones del lado del cliente si es posible.
// Si el cliente pide específicamente CSD, la solicitud será respetada.
// Además, se informará a los clientes de que están en mosaico, eliminando algunas esquinas redondeadas del lado del cliente.
// Esta opción también corregirá el dibujo de borde/anillo de foco detrás de algunas ventanas semitransparentes.
// Después de activar o desactivar esto, necesitas reiniciar las aplicaciones para que surta efecto.
// prefer-no-csd

// Puedes cambiar la ruta donde se guardan las capturas de pantalla.
// Una ~ al principio se expandirá al directorio home.
// La ruta se formatea con strftime(3) para incluir la fecha y hora de la captura.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// También puedes establecer esto a null para desactivar el guardado de capturas en disco.
// screenshot-path null

// Configuración de animaciones.
// La wiki explica cómo configurar animaciones individuales:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Descomenta para desactivar todas las animaciones.
    // off

    // Ralentiza todas las animaciones por este factor. Valores por debajo de 1 las aceleran.
    // slowdown 3.0
}

// Las reglas de ventana te permiten ajustar el comportamiento de ventanas individuales.
// Encuentra más información en la wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Soluciona el bug de configuración inicial de WezTerm
// estableciendo un default-column-width vacío.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    // Esta expresión regular se ha hecho intencionadamente lo más específica posible,
    // ya que esta es la configuración predeterminada y no queremos falsos positivos.
    // Puedes arreglártelas solo con app-id="wezterm" si quieres.
    // match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Abre el reproductor picture-in-picture de Firefox como flotante por defecto.
window-rule {
    // Esta expresión regular de app-id funcionará para ambos:
    // - Firefox del sistema (app-id es "firefox")
    // - Firefox de Flatpak (app-id es "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Ejemplo: bloquear dos gestores de contraseñas de la captura de pantalla.
// (Esta regla de ejemplo está comentada con un "/-" delante.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Usa esto en su lugar si quieres que sean visibles en herramientas de captura de terceros.
    // block-out-from "screencast"
}

// Ejemplo: activar esquinas redondeadas para todas las ventanas.
// (Esta regla de ejemplo está comentada con un "/-" delante.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    // Las teclas consisten en modificadores separados por signos +, seguidos de un nombre de tecla XKB
    // al final. Para encontrar el nombre XKB de una tecla concreta, puedes usar un programa
    // como wev.
    //
    // "Mod" es un modificador especial igual a Super cuando se ejecuta en una TTY, y a Alt
    // cuando se ejecuta como ventana winit.
    //
    // La mayoría de las acciones que puedes vincular aquí también pueden invocarse programáticamente con
    // `niri msg action do-something`.

    // Mod-Shift-/, que normalmente es lo mismo que Mod-?,
    // muestra una lista de atajos importantes.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Atajos sugeridos para ejecutar programas: terminal, lanzador de aplicaciones, bloqueo de pantalla.
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+D hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
    Mod+Shift+W hotkey-overlay-title="Change Wallpaper" { spawn-sh "sh $HOME/.config/quickshell/scripts/set-wallpaper.sh"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Usa spawn-sh para ejecutar un comando de shell. Haz esto si necesitas pipes, múltiples comandos, etc.
    // Nota: el comando completo va como un solo argumento. Se pasa textualmente a `sh -c`.
    // Por ejemplo, esta es una vinculación estándar para alternar el lector de pantalla (orca).
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // Ejemplo de mapeos de teclas de volumen para PipeWire y WirePlumber.
    // La propiedad allow-when-locked=true hace que funcionen incluso cuando la sesión está bloqueada.
    // Usar spawn-sh permite pasar múltiples argumentos junto con el comando.
    // "-l 1.0" limita el volumen al 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Ejemplo de mapeo de teclas multimedia usando playerctl.
    // Esto funcionará con cualquier reproductor multimedia compatible con MPRIS.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Ejemplo de mapeos de teclas de brillo para brightnessctl.
    // También puedes usar spawn normal con múltiples argumentos (para evitar pasar por "sh"),
    // pero necesitas poner manualmente cada argumento entre comillas "" separadas.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Abre/cierra la Vista General: una vista alejada de espacios de trabajo y ventanas.
    // También puedes mover el ratón a la esquina superior izquierda (hot corner),
    // o hacer un deslizamiento de cuatro dedos hacia arriba en el touchpad.
    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Comandos alternativos que se mueven entre espacios de trabajo al alcanzar
    // la primera o última ventana de una columna.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternativamente, hay comandos para mover solo una ventana:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // Y también puedes mover un espacio de trabajo completo a otro monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternativamente, hay comandos para mover solo una ventana:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Puedes vincular ticks de rueda del ratón usando la siguiente sintaxis.
    // Estas vinculaciones cambiarán de dirección según la configuración natural-scroll.
    //
    // Para evitar desplazarte por los espacios de trabajo muy rápido, puedes usar
    // la propiedad cooldown-ms. La vinculación se limitará en frecuencia a este valor.
    // Puedes establecer un cooldown en cualquier vinculación, pero es más útil para la rueda.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Normalmente, desplazarse arriba y abajo con Shift en aplicaciones resulta en
    // desplazamiento horizontal; estas vinculaciones replican eso.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // De manera similar, puedes vincular "ticks" de desplazamiento del touchpad.
    // El desplazamiento del touchpad es continuo, así que para estas vinculaciones se divide en
    // intervalos discretos.
    // Estas vinculaciones también se ven afectadas por natural-scroll del touchpad, así que estos
    // ejemplos están "invertidos", ya que tenemos natural-scroll activado para
    // touchpads por defecto.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // Puedes referirte a los espacios de trabajo por índice. Sin embargo, ten en cuenta que
    // niri es un sistema de espacios de trabajo dinámico, así que estos comandos son
    // "de máximo esfuerzo". Intentar referirse a un índice de espacio de trabajo mayor que
    // el número actual de espacios de trabajo se referirá en su lugar al
    // espacio de trabajo (vacío) inferior.
    //
    // Por ejemplo, con 2 espacios de trabajo + 1 vacío, los índices 3, 4, 5 y sucesivos
    // se referirán todos al 3er espacio de trabajo.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternativamente, hay comandos para mover solo una ventana:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Alterna el foco entre el espacio de trabajo actual y el anterior.
    // Mod+Tab { focus-workspace-previous; }

    // Las siguientes vinculaciones mueven la ventana enfocada dentro y fuera de una columna.
    // Si la ventana está sola, la absorberán en la columna cercana al lado.
    // Si la ventana ya está en una columna, la expulsarán.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Absorbe una ventana desde la derecha al fondo de la columna enfocada.
    Mod+Comma  { consume-window-into-column; }
    // Expulsa la ventana inferior de la columna enfocada hacia la derecha.
    Mod+Period { expel-window-from-column; }

    // Recorre los anchos establecidos en preset-column-widths.
    Mod+R { switch-preset-column-width; }
    // También es posible recorrer los preajustes en orden inverso.
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Mientras que maximize-column deja márgenes y bordes alrededor de la ventana,
    // maximize-window-to-edges no: la ventana se expande hasta los bordes de la pantalla.
    // Esta vinculación corresponde a la maximización normal de ventana,
    // por ejemplo, al hacer doble clic en la barra de título.
    Mod+M { maximize-window-to-edges; }

    // Expande la columna enfocada al espacio no ocupado por otras columnas completamente visibles.
    // Hace que la columna "ocupe el resto del espacio".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Centra todas las columnas completamente visibles en pantalla.
    Mod+Ctrl+C { center-visible-columns; }

    // Ajustes de ancho más finos.
    // Este comando también puede:
    // * establecer ancho en píxeles: "1000"
    // * ajustar ancho en píxeles: "-5" o "+5"
    // * establecer ancho como porcentaje del ancho de pantalla: "25%"
    // * ajustar ancho como porcentaje del ancho de pantalla: "-10%" o "+10%"
    // Los tamaños de píxel usan píxeles lógicos o escalados. Es decir, en una salida con escala 2.0,
    // set-column-width "100" hará que la columna ocupe 200 píxeles físicos de pantalla.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Ajustes de altura más finos cuando está en columna con otras ventanas.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Mueve la ventana enfocada entre la disposición flotante y la de mosaico.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Alterna el modo de visualización de columna con pestañas.
    // Las ventanas en esta columna aparecerán como pestañas verticales,
    // en lugar de apiladas una encima de otra.
    // Mod+W { toggle-column-tabbed-display; }

    // Acciones para cambiar disposiciones.
    // Nota: si descomentas estas, asegúrate de NO tener
    // un atajo de cambio de disposición coincidente configurado en las opciones xkb de arriba.
    // Tener ambos a la vez en el mismo atajo romperá el cambio,
    // ya que cambiará dos veces al presionar el atajo (una por xkb, otra por niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Aplicaciones como clientes de escritorio remoto y switches KVM por software pueden
    // solicitar que niri deje de procesar los atajos de teclado definidos aquí
    // para que puedan, por ejemplo, reenviar las pulsaciones tal cual a una máquina remota.
    // Es buena idea vincular una vía de escape para alternar el inhibidor,
    // para que una aplicación con errores no pueda secuestrar tu sesión.
    //
    // La propiedad allow-inhibiting=false también puede aplicarse a otras vinculaciones,
    // lo que asegura que niri siempre las procese, incluso cuando un inhibidor está activo.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // La acción quit mostrará un diálogo de confirmación para evitar salidas accidentales.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Apaga los monitores. Para volver a encenderlos, haz cualquier entrada como
    // mover el ratón o presionar cualquier otra tecla.
    Mod+Shift+P { power-off-monitors; }
}
